<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Page catalogue d'enchères de timbres pour la collection : Timbres Rares et Erreurs Philatéliques sur la plateforme Stampee, du Lord Reginald III Stampee"
    >
    <title>Stampee - {{ titre }}</title>
    <link rel="stylesheet" type="text/css" href="css/frontend/main.css?v=1.2">
    <script type="module" src="js/connexionDeconnexion.js"></script>
    <script type="module" src="js/creerCompte.js"></script>
  </head>
  <body>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" aria-label="Menu-toggle">
  <nav>
    <nav class="nav-level1">
      <a href="/" class="nav-logo" aria-label="Accueil">
        <svg
          width="60"
          height="40"
          viewBox="0 0 83 58"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Logo du site Stampee</title>
          <desc>Logo du site qui est aussi un lien pour la page d'accueil</desc>
          <path
            d="M45.8262 0.288019C45.9213 1.30805 46.7121 2.12809 47.7149 2.26014V4.18249C46.6075 4.28679 45.7388 5.22836 45.7388 6.37086C45.7388 7.51337 46.6085 8.45398 47.7149 8.55923V10.472C46.6075 10.5763 45.7388 11.5179 45.7388 12.6604C45.7388 13.8029 46.6085 14.7426 47.7149 14.8478V16.841C46.6075 16.9453 45.7388 17.8868 45.7388 19.0293C45.7388 20.1719 46.6085 21.1125 47.7149 21.2177V23.1305C46.6075 23.2348 45.7388 24.1764 45.7388 25.3189C45.7388 26.4614 46.6085 27.402 47.7149 27.5072V29.4995C46.6075 29.6038 45.7388 30.5453 45.7388 31.6878C45.7388 32.8303 46.6085 33.7709 47.7149 33.8762V35.789C46.6075 35.8933 45.7388 36.8348 45.7388 37.9774C45.7388 39.1199 46.6085 40.0605 47.7149 40.1657V42.0785C46.6075 42.1828 45.7388 43.1244 45.7388 44.2669C45.7388 45.4094 46.6085 46.35 47.7149 46.4553V48.4475C46.6075 48.5518 45.7388 49.4933 45.7388 50.6358C45.7388 51.7783 46.6085 52.7189 47.7149 52.8242V54.737C46.675 54.8356 45.8452 55.6709 45.7483 56.7177H44.1638C44.0602 55.603 43.1249 54.7274 41.99 54.7274C40.8551 54.7274 39.9208 55.603 39.8162 56.7177H38.1538C38.0502 55.603 37.1149 54.7274 35.98 54.7274C34.8452 54.7274 33.9108 55.603 33.8063 56.7177H32.2218C32.1182 55.603 31.1829 54.7274 30.048 54.7274C28.9131 54.7274 27.9788 55.603 27.8742 56.7177H26.2109C26.1072 55.603 25.172 54.7274 24.0371 54.7274C22.9022 54.7274 21.9678 55.603 21.8633 56.7177H20.1999C20.0963 55.603 19.161 54.7274 18.0261 54.7274C16.8912 54.7274 15.9569 55.603 15.8524 56.7177H14.189C14.0854 55.603 13.1501 54.7274 12.0152 54.7274C10.8803 54.7274 9.94598 55.603 9.84143 56.7177H8.17901C8.07541 55.603 7.14012 54.7274 6.00523 54.7274C4.87034 54.7274 3.936 55.603 3.83145 56.7177H2.17378C2.07873 55.6977 1.28792 54.8777 0.285149 54.7456V52.8146C1.35446 52.674 2.18329 51.7506 2.18329 50.6358C2.18329 49.5211 1.35446 48.5977 0.285149 48.457V46.4466C1.35446 46.306 2.18329 45.3826 2.18329 44.2678C2.18329 43.1531 1.35446 42.2297 0.285149 42.089V40.1581C1.35446 40.0174 2.18329 39.094 2.18329 37.9793C2.18329 36.8645 1.35446 35.9411 0.285149 35.8005V33.8695C1.35446 33.7288 2.18329 32.8055 2.18329 31.6907C2.18329 30.5759 1.35446 29.6526 0.285149 29.5119V27.5015C1.35446 27.3608 2.18329 26.4375 2.18329 25.3227C2.18329 24.2079 1.35446 23.2846 0.285149 23.1439V21.2129C1.35446 21.0723 2.18329 20.1489 2.18329 19.0341C2.18329 17.9194 1.35446 16.996 0.285149 16.8553V14.844C1.35446 14.7033 2.18329 13.7799 2.18329 12.6661C2.18329 11.5523 1.35446 10.628 0.285149 10.4873V8.55636C1.35446 8.4157 2.18329 7.49232 2.18329 6.37756C2.18329 5.2628 1.35446 4.33177 0.285149 4.19111V2.26875C1.32499 2.17019 2.15477 1.33484 2.25172 0.288019H3.8362C3.9398 1.40278 4.87509 2.27832 6.00998 2.27832C7.14487 2.27832 8.07921 1.40278 8.18376 0.288019H9.84618C9.94978 1.40278 10.8851 2.27832 12.02 2.27832C13.1549 2.27832 14.0892 1.40278 14.1937 0.288019H15.8571C15.9607 1.40278 16.896 2.27832 18.0309 2.27832C19.1658 2.27832 20.1001 1.40278 20.2047 0.288019H21.868C21.9716 1.40278 22.9069 2.27832 24.0418 2.27832C25.1767 2.27832 26.1111 1.40278 26.2156 0.288019H27.879C27.9826 1.40278 28.9179 2.27832 30.0528 2.27832C31.1876 2.27832 32.122 1.40278 32.2265 0.288019H33.811C33.9146 1.40278 34.8499 2.27832 35.9848 2.27832C37.1197 2.27832 38.054 1.40278 38.1586 0.288019H39.821C39.9246 1.40278 40.8599 2.27832 41.9948 2.27832C43.1297 2.27832 44.064 1.40278 44.1686 0.288019H45.8319M46.1095 0.000956873H43.892C43.892 0.0267925 43.8939 0.0535849 43.8939 0.0813342C43.8939 1.13581 43.0432 1.99221 41.9957 1.99221C40.9483 1.99221 40.0976 1.13581 40.0976 0.0813342C40.0976 0.0545418 40.0976 0.0277493 40.0995 0.000956873H37.882C37.882 0.0267925 37.8839 0.0535849 37.8839 0.0813342C37.8839 1.13581 37.0332 1.99221 35.9857 1.99221C34.9383 1.99221 34.0876 1.13581 34.0876 0.0813342C34.0876 0.0545418 34.0876 0.0277493 34.0895 0.000956873H31.9509C31.9509 0.0267925 31.9528 0.0535849 31.9528 0.0813342C31.9528 1.13581 31.1031 1.99221 30.0547 1.99221C29.0063 1.99221 28.1565 1.13581 28.1565 0.0813342C28.1565 0.0545418 28.1565 0.0277493 28.1584 0.000956873H25.9409C25.9409 0.0267925 25.9428 0.0535849 25.9428 0.0813342C25.9428 1.13581 25.0921 1.99221 24.0447 1.99221C22.9972 1.99221 22.1465 1.13581 22.1465 0.0813342C22.1465 0.0545418 22.1465 0.0277493 22.1484 0.000956873H19.9309C19.9309 0.0267925 19.9328 0.0535849 19.9328 0.0813342C19.9328 1.13581 19.0821 1.99221 18.0347 1.99221C16.9872 1.99221 16.1366 1.13581 16.1366 0.0813342C16.1366 0.0545418 16.1366 0.0277493 16.1385 0.000956873H13.921C13.921 0.0267925 13.9229 0.0535849 13.9229 0.0813342C13.9229 1.13581 13.0722 1.99221 12.0247 1.99221C10.9773 1.99221 10.1218 1.13581 10.1218 0.0813342C10.1218 0.0545418 10.1218 0.0277493 10.1237 0.000956873H7.90622C7.90622 0.0267925 7.90812 0.0535849 7.90812 0.0813342C7.90812 1.13581 7.05743 1.99221 6.00998 1.99221C4.96253 1.99221 4.11184 1.13581 4.11184 0.0813342C4.11184 0.0545418 4.11184 0.0277493 4.11374 0.000956873H1.97608C1.97608 0.0267925 1.97608 0.0535849 1.97608 0.0813342C1.97608 1.13581 1.12729 1.99125 0.0798416 1.99125C0.0522772 1.99125 0.0266139 1.99125 0 1.98934V4.45903C1.04745 4.45903 1.89814 5.31448 1.89814 6.36991C1.89814 7.42534 1.04745 8.28078 0 8.28078V10.7486C1.04745 10.7486 1.89814 11.604 1.89814 12.6594C1.89814 13.7149 1.04745 14.5694 0 14.5694V17.1175C1.04745 17.1175 1.89814 17.9739 1.89814 19.0284C1.89814 20.0829 1.04745 20.9393 0 20.9393V23.407C1.04745 23.407 1.89814 24.2634 1.89814 25.3179C1.89814 26.3724 1.04745 27.2288 0 27.2288V29.776C1.04745 29.776 1.89814 30.6324 1.89814 31.6869C1.89814 32.7413 1.04745 33.5977 0 33.5977V36.0655C1.04745 36.0655 1.89814 36.9219 1.89814 37.9764C1.89814 39.0309 1.04745 39.8873 0 39.8873V42.3551C1.04745 42.3551 1.89814 43.2115 1.89814 44.2659C1.89814 45.3204 1.04745 46.1768 0 46.1768V48.724C1.04745 48.724 1.89814 49.5804 1.89814 50.6349C1.89814 51.6893 1.04745 52.5458 0 52.5458V55.0135C1.04745 55.0135 1.89814 55.8699 1.89814 56.9244C1.89814 56.9512 1.89814 56.977 1.89624 57.0048H4.11374C4.11374 56.978 4.11184 56.9522 4.11184 56.9244C4.11184 55.8699 4.96253 55.0135 6.00998 55.0135C7.05743 55.0135 7.90812 55.8699 7.90812 56.9244C7.90812 56.9512 7.90812 56.977 7.90622 57.0048H10.1237C10.1237 56.978 10.1218 56.9522 10.1218 56.9244C10.1218 55.8699 10.9725 55.0135 12.02 55.0135C13.0674 55.0135 13.9181 55.8699 13.9181 56.9244C13.9181 56.9512 13.9181 56.977 13.9162 57.0048H16.1337C16.1337 56.978 16.1318 56.9522 16.1318 56.9244C16.1318 55.8699 16.9825 55.0135 18.0299 55.0135C19.0774 55.0135 19.9281 55.8699 19.9281 56.9244C19.9281 56.9512 19.9281 56.977 19.9262 57.0048H22.1437C22.1437 56.978 22.1418 56.9522 22.1418 56.9244C22.1418 55.8699 22.9925 55.0135 24.0399 55.0135C25.0874 55.0135 25.9381 55.8699 25.9381 56.9244C25.9381 56.9512 25.9381 56.977 25.9362 57.0048H28.1537C28.1537 56.978 28.1518 56.9522 28.1518 56.9244C28.1518 55.8699 29.0025 55.0135 30.0499 55.0135C31.0973 55.0135 31.948 55.8699 31.948 56.9244C31.948 56.9512 31.948 56.977 31.9461 57.0048H34.0848C34.0848 56.978 34.0829 56.9522 34.0829 56.9244C34.0829 55.8699 34.9335 55.0135 35.981 55.0135C37.0284 55.0135 37.8791 55.8699 37.8791 56.9244C37.8791 56.9512 37.8791 56.977 37.8772 57.0048H40.0947C40.0947 56.978 40.0928 56.9522 40.0928 56.9244C40.0928 55.8699 40.9435 55.0135 41.991 55.0135C43.0384 55.0135 43.8891 55.8699 43.8891 56.9244C43.8891 56.9512 43.8891 56.977 43.8872 57.0048H46.0249C46.0249 56.978 46.0249 56.9522 46.0249 56.9244C46.0249 55.8699 46.8746 55.0135 47.9221 55.0135C47.9496 55.0135 47.9753 55.0135 48.0019 55.0154V52.5438C47.9762 52.5438 47.9496 52.5458 47.9221 52.5458C46.8746 52.5458 46.0249 51.6893 46.0249 50.6349C46.0249 49.5804 46.8746 48.724 47.9221 48.724C47.9496 48.724 47.9753 48.724 48.0019 48.7259V46.1758C47.9762 46.1758 47.9496 46.1778 47.9221 46.1778C46.8746 46.1778 46.0249 45.3214 46.0249 44.2669C46.0249 43.2124 46.8746 42.356 47.9221 42.356C47.9496 42.356 47.9753 42.356 48.0019 42.3579V39.8863C47.9762 39.8863 47.9496 39.8882 47.9221 39.8882C46.8746 39.8882 46.0249 39.0318 46.0249 37.9774C46.0249 36.9229 46.8746 36.0665 47.9221 36.0665C47.9496 36.0665 47.9753 36.0665 48.0019 36.0684V33.5968C47.9762 33.5968 47.9496 33.5987 47.9221 33.5987C46.8746 33.5987 46.0249 32.7423 46.0249 31.6878C46.0249 30.6333 46.8746 29.7769 47.9221 29.7769C47.9496 29.7769 47.9753 29.7769 48.0019 29.7789V27.2288C47.9762 27.2288 47.9496 27.2307 47.9221 27.2307C46.8746 27.2307 46.0249 26.3743 46.0249 25.3198C46.0249 24.2654 46.8746 23.409 47.9221 23.409C47.9496 23.409 47.9753 23.409 48.0019 23.4109V20.9393C47.9762 20.9393 47.9496 20.9412 47.9221 20.9412C46.8746 20.9412 46.0249 20.0848 46.0249 19.0303C46.0249 17.9758 46.8746 17.1194 47.9221 17.1194C47.9496 17.1194 47.9753 17.1194 48.0019 17.1213V14.5713C47.9762 14.5713 47.9496 14.5713 47.9221 14.5713C46.8746 14.5713 46.0249 13.7158 46.0249 12.6613C46.0249 11.6069 46.8746 10.7505 47.9221 10.7505C47.9496 10.7505 47.9753 10.7505 48.0019 10.7505V8.27983C47.9762 8.27983 47.9496 8.28174 47.9221 8.28174C46.8746 8.28174 46.0249 7.42534 46.0249 6.37086C46.0249 5.31639 46.8746 4.45999 47.9221 4.45999C47.9496 4.45999 47.9753 4.45999 48.0019 4.4619V1.99125C46.9545 1.99125 46.1038 1.13485 46.1038 0.0803774C46.1038 0.0535849 46.1038 0.0267925 46.1057 0L46.1095 0.000956873Z"
            fill="#26369A"
          />
          <path
            d="M24.6406 10.3763C29.5036 10.3763 34.075 12.2712 37.5138 15.7106C40.9527 19.1501 42.8456 23.7247 42.8456 28.5901C42.8456 33.4555 40.9517 38.029 37.5138 41.4695C34.076 44.91 29.5036 46.8039 24.6406 46.8039C19.7775 46.8039 15.2061 44.909 11.7673 41.4695C8.32843 38.03 6.4355 33.4555 6.4355 28.5901C6.4355 23.7247 8.32943 19.1511 11.7673 15.7106C15.2051 12.2701 19.7775 10.3763 24.6406 10.3763ZM24.6406 9.57129C14.142 9.57129 5.63086 18.0865 5.63086 28.5901C5.63086 39.0937 14.142 47.6089 24.6406 47.6089C35.1391 47.6089 43.6503 39.0937 43.6503 28.5901C43.6503 18.0865 35.1391 9.57129 24.6406 9.57129Z"
            fill="url(#paint0_linear_0_1)"
          />
          <path
            d="M27 38.999C32.1333 38.999 31.6667 41.999 37.36 41.999C43.0533 41.999 44.2835 38.999 49.3151 38.999C54.3467 38.999 55.2165 41.999 60.1016 41.999C64.9867 41.999 66.1963 38.999 71.6581 38.999C77.12 38.999 78.8 41.5705 81.7867 41.5705H83"
            stroke="url(#paint1_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <path
            d="M27 35.1992C32.1333 35.1992 31.6667 38.1992 37.36 38.1992C43.0533 38.1992 44.2835 35.1992 49.3151 35.1992C54.3467 35.1992 55.2165 38.1992 60.1016 38.1992C64.9867 38.1992 66.1963 35.1992 71.6581 35.1992C77.12 35.1992 78.8 37.7706 81.7867 37.7706H83"
            stroke="url(#paint2_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <path
            d="M27 31.3994C32.1333 31.3994 31.6667 34.3994 37.36 34.3994C43.0533 34.3994 44.2835 31.3994 49.3151 31.3994C54.3467 31.3994 55.2165 34.3994 60.1016 34.3994C64.9867 34.3994 66.1963 31.3994 71.6581 31.3994C77.12 31.3994 78.8 33.9708 81.7867 33.9708H83"
            stroke="url(#paint3_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <path
            d="M27 27.5996C32.1333 27.5996 31.6667 30.5996 37.36 30.5996C43.0533 30.5996 44.2835 27.5996 49.3151 27.5996C54.3467 27.5996 55.2165 30.5996 60.1016 30.5996C64.9867 30.5996 66.1963 27.5996 71.6581 27.5996C77.12 27.5996 78.8 30.171 81.7867 30.171H83"
            stroke="url(#paint4_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <path
            d="M27 23.7998C32.1333 23.7998 31.6667 26.7998 37.36 26.7998C43.0533 26.7998 44.2835 23.7998 49.3151 23.7998C54.3467 23.7998 55.2165 26.7998 60.1016 26.7998C64.9867 26.7998 66.1963 23.7998 71.6581 23.7998C77.12 23.7998 78.8 26.3712 81.7867 26.3712H83"
            stroke="url(#paint5_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <path
            d="M27 20C32.1333 20 31.6667 23 37.36 23C43.0533 23 44.2835 20 49.3151 20C54.3467 20 55.2165 23 60.1016 23C64.9867 23 66.1963 20 71.6581 20C77.12 20 78.8 22.5714 81.7867 22.5714H83"
            stroke="url(#paint6_linear_0_1)"
            stroke-width="0.85"
            stroke-miterlimit="10"
          />
          <defs>
            <linearGradient
              id="paint0_linear_0_1"
              x1="29"
              y1="21.501"
              x2="37"
              y2="15.501"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="1" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_0_1"
              x1="27.3226"
              y1="39.1671"
              x2="57.0687"
              y2="11.3941"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_0_1"
              x1="27.3226"
              y1="35.3672"
              x2="57.0687"
              y2="7.59427"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_0_1"
              x1="27.3226"
              y1="31.5674"
              x2="57.0687"
              y2="3.79446"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint4_linear_0_1"
              x1="27.3226"
              y1="27.7676"
              x2="57.0687"
              y2="-0.00534398"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint5_linear_0_1"
              x1="27.3226"
              y1="23.9678"
              x2="57.0687"
              y2="-3.80515"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint6_linear_0_1"
              x1="27.3226"
              y1="20.168"
              x2="57.0687"
              y2="-7.60495"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#26369A" />
              <stop offset="0.468735" stop-color="#525DA2" />
              <stop offset="0.956186" stop-color="#525DA2" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
        Stampee
      </a>
      <form action="#" method="get" class="nav-searchbar">
        <label for="search-input" class="nav-searchbar-sr-only">Recherche d’une enchère ou timbre dans tout le site</label>
        <input type="search" id="search-input" placeholder="recherche d’une enchère ou timbre dans tout le site">
        <button type="submit" class="btn-icon" aria-label="Recherche">
          <svg width="18" height="18" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Bouton submit pour la recherche</title>
            <desc>Icone de loupe pour la recherche</desc>
            <path d="M15 15C11.134 15 8 11.866 8 8C8 4.13401 11.134 1 15 1C18.866 1 22 4.13401 22 8C22 11.866 18.866 15 15 15Z" stroke="#26369A" stroke-width="1"></path>
            <path d="M1 22L10 13" stroke="#26369A" stroke-width="1"></path>
          </svg>
        </button>
      </form>
      <div class="nav-language">
        <label for="language">
          <select id="language" name="language">
            <option value="fr">Fr</option>
            <option value="en">En</option>
          </select>
        </label>
      </div>
      <div class="nav-connexion">
        <span id="connecter"   class="{{     oUtilConn ? 'cache' : '' }}">Se connecter</span>
        <span id="utilisateur">{{ oUtilConn.utilisateur_prenom }}</span>
        <span id="deconnecter" class="{{ not oUtilConn ? 'cache' : '' }}">Se déconnecter</span>
        <span id="creerCompte" class="{{     oUtilConn ? 'cache' : '' }}">Devenir membre</span>
      {# {% if oUtilConn %}
        <span id="deconnecter">Se déconnecter</span>
        <svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L1 17" stroke="#6E6E6E" stroke-width="0.25" stroke-linecap="round"/>
          </svg>
        <span id="utilisateur">{{ oUtilConn.utilisateur_pseudo }}</span>
      {% else %}
        <span id="connecter">Se connecter</span>
        <svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L1 17" stroke="#6E6E6E" stroke-width="0.25" stroke-linecap="round"/>
          </svg>
        <span id="creerCompte">Devenir membre</span>
      {% endif %} #}
      </div>
      <a href="#" aria-label="Favoris">
        <svg
          width="20"
          height="18"
          viewBox="0 0 22 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Favoris</title>
          <desc>Icône de coeur pour les items favoris</desc>
          <path
            d="M10.9995 2.40848C9.93906 1.5305 8.55717 1 7.04516 1C3.70648 1 1 3.58934 1 6.78445C1 8.22824 1.55256 9.54846 2.46735 10.5612L11.0092 18.7333L19.3802 10.7247C20.3853 9.69246 21 8.30721 21 6.78445C21 3.59027 18.2935 1 14.9539 1C13.4419 1 12.06 1.5305 10.9995 2.40848Z"
            stroke="#26369A"
            stroke-width="1.3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <a href="#" aria-label="Notifications">
        <svg
          width="18.5"
          height="20.5"
          viewBox="0 0 21 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Notifications</title>
          <desc>Icône de clôche pour les notifications</desc>
          <path
            d="M20.4583 18.3262C19.7887 17.7292 19.2024 17.0448 18.7153 16.2915C18.1835 15.2516 17.8648 14.1159 17.7778 12.9512V9.52062C17.7824 7.69118 17.1188 5.92303 15.9116 4.54838C14.7045 3.17372 13.0369 2.28719 11.2222 2.05534V1.15951C11.2222 0.913627 11.1245 0.67782 10.9507 0.503958C10.7768 0.330097 10.541 0.232422 10.2951 0.232422C10.0493 0.232422 9.81345 0.330097 9.63959 0.503958C9.46573 0.67782 9.36806 0.913627 9.36806 1.15951V2.06923C7.56962 2.31779 5.9222 3.20968 4.73092 4.57972C3.53964 5.94975 2.88523 7.70509 2.88889 9.52062V12.9512C2.80191 14.1159 2.48318 15.2516 1.95139 16.2915C1.47283 17.0431 0.895968 17.7274 0.236111 18.3262C0.162036 18.3912 0.102668 18.4714 0.0619565 18.5612C0.0212455 18.651 0.000124858 18.7484 0 18.847V19.7915C0 19.9756 0.0731644 20.1523 0.203398 20.2825C0.333632 20.4127 0.510266 20.4859 0.694445 20.4859H20C20.1842 20.4859 20.3608 20.4127 20.491 20.2825C20.6213 20.1523 20.6944 19.9756 20.6944 19.7915V18.847C20.6943 18.7484 20.6732 18.651 20.6325 18.5612C20.5918 18.4714 20.5324 18.3912 20.4583 18.3262ZM1.44444 19.097C2.09056 18.4728 2.65944 17.7734 3.13889 17.0137C3.80876 15.7578 4.1996 14.372 4.28472 12.9512V9.52062C4.25718 8.70675 4.3937 7.89567 4.68614 7.13566C4.97859 6.37566 5.42098 5.68227 5.98698 5.0968C6.55297 4.51132 7.231 4.04573 7.98068 3.72775C8.73036 3.40977 9.53636 3.2459 10.3507 3.2459C11.165 3.2459 11.971 3.40977 12.7207 3.72775C13.4704 4.04573 14.1484 4.51132 14.7144 5.0968C15.2804 5.68227 15.7228 6.37566 16.0152 7.13566C16.3077 7.89567 16.4442 8.70675 16.4167 9.52062V12.9512C16.5018 14.372 16.8926 15.7578 17.5625 17.0137C18.0419 17.7734 18.6108 18.4728 19.2569 19.097H1.44444Z"
            fill="#26369A"
            stroke="#26369A"
            stroke-width="0.000533333"
          />
          <path
            d="M10.3826 22.8055C10.8201 22.7954 11.2398 22.631 11.5677 22.3412C11.8956 22.0514 12.1105 21.6551 12.1743 21.2222H8.52148C8.58709 21.6668 8.81199 22.0725 9.15433 22.3638C9.49668 22.655 9.93317 22.812 10.3826 22.8055Z"
            fill="#26369A"
            stroke="#26369A"
            stroke-width="0.000533333"
          />
        </svg>
      </a>
      <a href="#" aria-label="Profil">
        <svg
          width="19"
          height="21"
          viewBox="0 0 22 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Profil</title>
          <desc>
            Icône de silhouette profil pour la page de profil de l'utilisateur
          </desc>
          <path
            d="M11.0078 1C14.287 1 16.9453 3.65831 16.9453 6.9375C16.9453 9.17854 15.7037 11.1296 13.8709 12.1403C17.8371 13.467 20.6953 17.2122 20.6953 21.625H0.695312C0.695312 17.0627 3.75056 13.2139 7.92668 12.0132C6.21413 10.9724 5.07031 9.08853 5.07031 6.9375C5.07031 3.65831 7.72862 1 11.0078 1Z"
            stroke="#26369A"
            stroke-width="1.3"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </nav>
    <nav class="nav-level2">
      <a href="/catalogue">Enchères en cours</a>
      <svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L1 17" stroke="#6E6E6E" stroke-width="0.25" stroke-linecap="round"/>
        </svg>
    
      <a href="#">Enchères à venir</a>
      <svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L1 17" stroke="#6E6E6E" stroke-width="0.25" stroke-linecap="round"/>
        </svg>
    
      <a href="#">Enchères archivées</a>
    </nav>
  </nav>
  <main>

  {{ include(templateMain) }}

  </main>

  {{ include("modaleConnexion.twig") }}
  {{ include("modaleCreerCompte.twig") }}
  
  <footer>
    <div class="cta">
      <label for="email">
        Soyez à l’affût de nos nouvelles enchères en vous inscrivant au
        newsletter
      </label>
      <form method="post" action="#">
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Entrez votre adresse e-mail"
        >
        <button type="submit">S'inscrire</button>
      </form>
    </div>
    <div class="footer-all-links">
      <div class="footer-left">
        <div class="footer-links">
          <h3>À propos</h3>
          <ul>
            <li><a href="#">Lord Reginald Stampee III</a></li>
            <li><a href="#">La philatélie, c'est la vie.</a></li>
            <li><a href="#">Biographie du Lord</a></li>
            <li><a href="#">Historique familial</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Actualités</h3>
          <ul>
            <li><a href="#">Timbres</a></li>
            <li><a href="#">Enchères</a></li>
            <li><a href="#">Bridge</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Fonctionnement de la plateforme</h3>
          <ul>
            <li><a href="#">Aide Profil</a></li>
            <li><a href="#">Aide Comment placer une offre</a></li>
            <li><a href="#">Aide Suivre une enchère</a></li>
            <li><a href="#">Aide Trouver l'enchère désirée</a></li>
            <li><a href="#">Contacter le webmestre</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Contactez-nous</h3>
          <ul>
            <li><a href="#">Angleterre</a></li>
            <li><a href="#">Canada</a></li>
            <li><a href="#">US</a></li>
            <li><a href="#">Australie</a></li>
          </ul>
        </div>
      </div>
      <div class="social-media">
        <h3>Suivez-nous</h3>
        <div class="social-icons">
          <a href="#" aria-label="Facebook">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Facebook</title>
              <desc>
                Icône de logo Facebook pour lien vers notre page Facebook
              </desc>
              <path
                d="M16 0C7.19999 0 0 7.21284 0 16.0964C0 24.1285 5.85599 30.7952 13.504 32V20.755H9.43999V16.0964H13.504V12.5462C13.504 8.51405 15.888 6.29718 19.552 6.29718C21.296 6.29718 23.12 6.6024 23.12 6.6024V10.5703H21.104C19.12 10.5703 18.496 11.8072 18.496 13.0763V16.0964H22.944L22.224 20.755H18.496V32C22.2662 31.4021 25.6995 29.4707 28.1758 26.5542C30.6521 23.6379 32.0086 19.9287 32 16.0964C32 7.21284 24.8 0 16 0Z"
                fill="#26369A"
              />
            </svg>
          </a>
          <a href="#" aria-label="Instagram">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>
                Instagram
              </title>
              <desc>Icône de logo Instagram pour lien vers notre page Instagram</desc>
              <path
                d="M21.6745 11.2552C21.6745 10.7443 21.2603 10.3301 20.7494 10.3301C20.2384 10.3301 19.8242 10.7443 19.8242 11.2552C19.8242 11.7662 20.2384 12.1804 20.7494 12.1804C21.2607 12.18 21.6745 11.7662 21.6745 11.2552Z"
                fill="#26369A"
              />
              <path
                d="M16.0003 11.7612C13.6593 11.7612 11.7617 13.6588 11.7617 15.9998C11.7617 16.5851 11.8805 17.1426 12.0949 17.6496C12.3093 18.1566 12.6197 18.6135 13.0033 18.9968C13.7703 19.7637 14.8302 20.2384 16.0007 20.2384C17.1711 20.2384 18.2307 19.7641 18.998 18.9968C19.3816 18.6131 19.692 18.1566 19.9064 17.6496C20.1208 17.1426 20.2396 16.5851 20.2396 15.9998C20.2389 13.6588 18.3413 11.7612 16.0003 11.7612Z"
                fill="#26369A"
              />
              <path
                d="M16 0C7.16338 0 0 7.16338 0 16C0 24.8366 7.16338 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16338 24.8366 0 16 0ZM24.8889 19.6402C24.8889 22.539 22.539 24.8889 19.6402 24.8889H12.3598C9.46098 24.8889 7.11111 22.539 7.11111 19.6402V12.3598C7.11111 11.2729 7.44142 10.2631 8.00747 9.42542C8.95076 8.02916 10.5479 7.11111 12.3598 7.11111H19.6405C21.4521 7.11111 23.0496 8.02916 23.9929 9.42507C24.5586 10.2628 24.8889 11.2725 24.8889 12.3598V19.6402Z"
                fill="#26369A"
              />
            </svg>
          </a>
          <a href="#" aria-label="Pinterest">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Pinterest</title>
              <desc>Icône de logo Pinterest pour lien vers notre page Pinterest</desc>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.8016 0C7.03841 0 0 7.09543 0 15.9336C0 22.4936 3.85121 27.983 9.42881 30.5273C9.42881 27.5393 9.40799 27.9244 11.6848 18.2086C10.4336 15.6836 11.4064 11.5148 14.208 11.5148C18.096 11.5148 15.4544 17.2792 15.0048 19.5477C14.6064 21.2885 15.9344 22.6281 17.528 22.6281C20.5824 22.6281 22.5728 18.7443 22.5728 14.193C22.5728 10.7113 20.184 8.16719 16.0672 8.16719C8.74721 8.16719 6.89121 16.3193 9.42881 18.8781C10.0672 19.8445 9.42881 19.8898 9.42881 21.1547C8.98561 22.4922 5.4448 20.5481 5.4448 15.532C5.4448 10.979 9.1632 5.62422 16.7312 5.62422C22.7056 5.62422 26.6896 10.042 26.6896 14.7289C26.6896 21.0211 23.2368 25.5742 18.192 25.5742C16.4656 25.5742 14.872 24.6361 14.3408 23.5648C13.376 27.3176 13.1808 29.2201 11.6848 31.3305C13.1456 31.7322 14.6064 32 16.2 32C24.9632 32 32 24.9045 32 16.068C31.6032 7.0959 24.5648 0 15.8016 0Z"
                fill="#26369A"
              />
            </svg>
          </a>
          <a href="#" aria-label="Twitter">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Twitter</title>
              <desc>Icône de logo Twitter pour lien vers notre page Twitter</desc>
              <path
                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                fill="#26369A"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25.6002 10.8469C24.8944 11.1605 24.1347 11.3717 23.338 11.467C24.1513 10.9794 24.776 10.2076 25.0696 9.288C24.3094 9.73976 23.4653 10.0668 22.5688 10.2441C21.85 9.47872 20.8255 9 19.6934 9C17.5182 9 15.7544 10.7638 15.7544 12.939C15.7544 13.2474 15.7896 13.5482 15.8568 13.8368C12.5828 13.673 9.68061 12.1044 7.73773 9.7212C7.39853 10.303 7.20461 10.9794 7.20461 11.7013C7.20461 13.0676 7.89901 14.2733 8.95685 14.9798C8.31045 14.9593 7.70381 14.782 7.17197 14.487V14.5362C7.17197 16.4453 8.53061 18.0368 10.3315 18.3997C10.0012 18.4893 9.65309 18.5379 9.29413 18.5379C9.04005 18.5379 8.79301 18.513 8.55237 18.4669C9.05349 20.0316 10.5088 21.1707 12.2321 21.2027C10.8844 22.2586 9.18597 22.889 7.34029 22.889C7.02157 22.889 6.70805 22.8704 6.40021 22.8333C8.14349 23.9507 10.2137 24.6034 12.4382 24.6034C19.6832 24.6034 23.6452 18.6013 23.6452 13.3965C23.6452 13.2256 23.642 13.0554 23.6336 12.8871C24.4041 12.3303 25.0722 11.6366 25.6002 10.8469Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="#" aria-label="Tiktok">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Tiktok</title>
              <desc>Icône de logo Tiktok pour lien vers notre page Tiktok</desc>
              <path
                d="M32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16Z"
                fill="#26369A"
              />
              <path
                d="M26 10.5557V12.7779C26 13.0726 25.8829 13.3552 25.6746 13.5636C25.4662 13.7719 25.1836 13.889 24.8889 13.889C23.3277 13.8862 21.7948 13.4724 20.4444 12.689V20.0001C20.4448 21.283 20.1034 22.5428 19.4555 23.65C18.8075 24.7572 17.8763 25.6718 16.7576 26.2998C15.639 26.9278 14.3732 27.2465 13.0906 27.2231C11.8079 27.1998 10.5546 26.8351 9.45962 26.1668C8.3646 25.4984 7.46735 24.5505 6.86017 23.4204C6.25298 22.2903 5.95776 21.0189 6.00487 19.7369C6.05198 18.4549 6.43972 17.2086 7.12821 16.1261C7.8167 15.0436 8.7811 14.1641 9.92222 13.5779C10.093 13.4869 10.2845 13.4421 10.4779 13.4479C10.6713 13.4537 10.8598 13.5099 11.0248 13.6109C11.1898 13.712 11.3255 13.8543 11.4186 14.0239C11.5117 14.1935 11.5589 14.3845 11.5556 14.5779V17.3779C11.5437 17.6388 11.4324 17.8853 11.2444 18.0668C10.8454 18.4704 10.5802 18.987 10.4847 19.5465C10.3892 20.106 10.4682 20.6813 10.7108 21.1945C10.9534 21.7076 11.3479 22.1337 11.8409 22.4149C12.3339 22.6962 12.9015 22.819 13.4667 22.7668C14.1764 22.6765 14.8277 22.327 15.2953 21.7855C15.763 21.244 16.014 20.5488 16 19.8335V6.11123C16 5.81654 16.1171 5.53393 16.3254 5.32555C16.5338 5.11718 16.8164 5.00012 17.1111 5.00012H19.4556C19.7203 4.99627 19.9776 5.08706 20.1813 5.25613C20.385 5.42521 20.5217 5.66146 20.5667 5.92234C20.7771 6.91449 21.3205 7.80482 22.1068 8.44552C22.893 9.08622 23.8747 9.43874 24.8889 9.44456C25.1836 9.44456 25.4662 9.56163 25.6746 9.77C25.8829 9.97837 26 10.261 26 10.5557Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-legal-links">
      <a href="#">Termes & conditions</a>
      <a href="#">Politique de confidentialité</a>
      <a href="#">Sécurité</a>
      <a href="#">Paramètres des cookies</a>
    </div>
    <div class="footer-copyrights">
      <p>© 2023 Stampee. Tous droits réservés.</p>
    </div>
  </footer>
  </body>
</html>